body {
  background-color: #2a2e2b;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-columns: 1fr 1fr;
}

h1 {
  grid-column: 1 / 3;
  font-size: 3vw;
  margin: 0;
  text-align: center;
}

#new-pic {
  height: 50px;
  width: 100px;
  margin: 20px;
}

.container1 {
  grid-column: 1 / 2;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-self: center;
  justify-content: space-around;
  align-items: center;
}

.container2 {
  grid-column: 2 / 3;
  margin-top: 7%;
  width: 90%;
  display: flex;
  justify-self: start;
  flex-direction: column;
}
.comment-container {
  display: flex;
  margin: 10px;
  width: 100%;
}

.delete-button {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  text-align: center;
}

.error {
  color: red;
}

#img-holder {
  height: 325px;
  width: 500px;
  margin: 10px;
}

.cat-pic {
  height: 100%;
  width: 100%;
  object-fit: contain;
  margin: 0;
}

.score-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.score-display {
  margin-bottom: 10px;
}

.comment-form {
  margin: 10px;
  display: flex;
  width: 100%;
}

.user-comment-container {
  margin-right: 10px;
  height: 25px;
  width: 100%;
}

.user-comment {
  width: 100%;
  height: 20px;
}

.comments {
  border: solid grey 1px;
  height: 100%;
  width: 100%;
  margin: 10px;
  padding: 5px;
  padding-right: 15px;
  overflow-y: scroll;
  background-color: grey;
}

.status {
  margin: 10px;
  height: 12px;
}

button,
#submit-button {
  border: thin black;
  height: 30px;
  width: 50px;
  border-radius: 10px;
  background-color: antiquewhite;
}
#submit-button {
  background-color: white;
  height: 25px;
  width: 75px;
}
.hidden {
  display: none;
}

.comment {
  margin: 10px;
  border: black solid;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
}

.comment-div {
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
}
